*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Karla, sans-serif;
}

.main {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  height: 800px;
}

.header {
  /*background-color: lightblue;*/
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  width: 75%;
  padding-left: 25px;
}

.title h1 {
  padding-left: 25px;
}

.nav {
  width: 25%;
}

.nav p {
  display: inline-block;
  padding-right: 15px;
}

.tagline {
  color: white;
  text-align: center;
  margin: 100px 100px 0px 100px;
}

.tagline p:first-child {
  font-size: 75px;
  margin-bottom: -110px;
}
.tagline p:nth-child(2) {
  font-size: 130px;
  border-top: 2px solid white;
  margin-bottom: 40px;
}

.button {
  color: white;
  background-color: #ff9966;
  font-size: 16px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 4px 3px #ff9966;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}
